.container {
    display: flex;
    flex-direction: column;
}

.board {
    height: 300px;
    width: 300px;
    background-color: rgb(34, 33, 33);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 15px;
}
.playAgain {
    color:blueviolet;
    text-decoration: underline;
    font-weight: 700;
    font-size: 1.3em;
}
.playAgain:hover{
    cursor: pointer;
}