.container {
    display: flex;
    flex-direction: column;
}
.contentContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.scoreArea{
    height: 150px;
    width: 150px;
    align-items: center;
    
}
.board {
    height: 300px;
    width: 300px;
    background-color: rgb(34, 33, 33);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 15px;
}
.playAgain {
    color:blueviolet;
    text-decoration: underline;
    font-weight: 700;
    font-size: 1.3em;
}
.playAgain:hover{
    cursor: pointer;
    color: rgb(171, 85, 252);
}
/* .topMessage h1{
    color: rgb(87, 98, 129);
} */